.benefit {
    margin-left: 230px;
    margin-block: auto;
}

.secimg1 {
    height: 250px;
    width: 455px;
}

.figure {
    background-color: #f2e205;
}


/* .sec {
    margin-top: 20px;
    height: 360px;
} */

.price {
    margin-top: 100px;
    margin-left: 108px;
}

.para1 {
    color: rgb(160, 157, 157);
}

.more {
    background-color: #f2e205;
    color: black;
}

.more:hover {
    cursor: grab;
}